body {
    background-color: #232323;
    margin: 0;
    font-family: 'Manjari', sans-serif;
    font-weight: 100;
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}

#container {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    color: white;
    text-align: center;
    background-color: steelblue;
    margin: 0;
    height: 200px;
}

#goalColorDisplay {
    text-transform: uppercase;
}

#statusBar {
    background-color: white;
    height: 30px;
    text-align: center;
    margin: 0;
}

.selected {
    background-color: blue;
}